
/* VARIABLES GLOBALES (THEME) */
:root {

    /* Paleta de colores */
    --color-primario: #a16565;      
    --color-secundario: #FFD500;    
    --color-fondo: #ffffff;
    --color-texto: #222;
    --color-texto-suave: #555;
    --color-blanco: #ffffff;

    /* Tipografías */
    --font-principal: "Inter", Arial, sans-serif;
    --font-titulos: "Poppins", sans-serif;
    --font-header-menu: "Montserrat", sans-serif;

    /* Espaciado */
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 32px;

    /* Bordes y sombras */
    --radius: 12px;
    --shadow: 0 4px 20px rgba(0,0,0,0.15);
}

body, html {
  margin: 0;
  padding: 0;
}

/* Contenedor general del contenido */
#content {
    width: 100%;
    max-width: 100%;
    padding: 0;
    background: #fff; 
    display: block;   /* Quitamos el flex anterior para manejar bloques normales */
    text-decoration: none;
}




